<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="filters">
		<ion-grid>
			<ion-row>
	    		<ion-col size="7">
	    			<div class="content-input icon-input">
	    				<ion-input placeholder="Buscar Marca"></ion-input>	
	    				<img src="assets/images/buscar.svg" alt="">
	    			</div>
	    		</ion-col>
	    		<ion-col>
	    			<div class="content-input">
				    	<ion-select placeholder="Categorias" multiple="true" interface="popover">
				      		<ion-select-option value="f">Female</ion-select-option>
				      		<ion-select-option value="m">Male</ion-select-option>
				    	</ion-select>
			    	</div>
	      		</ion-col>
	      	</ion-row>
	     </ion-grid>
     </div>


    <ion-list>
  		 <ion-item class="orange-arrow" lines="full" *ngFor="let brand of brands" routerLink="/brand/{{brand.id}}" detail>
          <ion-thumbnail slot="start">
            <img [src]="brand.logo">
          </ion-thumbnail >
          <ion-label>
            <h2>{{ brand.name }}</h2>
            <h3>{{ brand.brand_category_id.name }}</h3>
          </ion-label>
        </ion-item>
  	</ion-list>

</ion-content>

<app-footer></app-footer>