<ion-header>
	<ion-toolbar color="primary">
		<ion-title>BIENVENIDO</ion-title>
		<ion-buttons routerLink="/brands" slot="end">
			<ion-button (click)="alertLogout()">
				<img class="icon-svg" src="./assets/images/user_logout.svg">
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="filters">
		<ion-grid>
			<ion-row>
				<ion-col size="7">
					<div class="content-input icon-input">
						<ion-input placeholder="Buscar" [(ngModel)]="filter_name" (ngModelChange)="filterName()"></ion-input>
						<img src="assets/images/buscar.svg" alt="">
					</div>
				</ion-col>
				<ion-col>
					<div class="content-input">
						<ion-select [(ngModel)]="filter_categories" (ngModelChange)="filterCategories()"
							placeholder="Categorias" multiple="true" interface="popover">
							<ion-select-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}
							</ion-select-option>
						</ion-select>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div class="not-found-records" *ngIf="filter_brands && filter_brands.length <= 0">No hay registros disponibles</div>

	<ion-list>
		<ng-container *ngFor="let brand of filter_brands">
			<ion-item class="orange-arrow" lines="full" routerLink="/brand/{{brand.id}}">
				<ion-thumbnail slot="start">
					<img [src]="brand.logo">
				</ion-thumbnail>
				<ion-label>
					<h2>{{ brand.name }}</h2>
					<h3>{{ brand.brand_category_id.name }}</h3>
				</ion-label>
				<img src="./assets/images/arrow_item.svg" class="icon-svg">
			</ion-item>
			<ng-container *ngIf="filter_name">
				<ion-item *ngFor="let product of brand.products" class="orange-arrow sublist" lines="full" routerLink="/product/{{product.id}}">
					<ion-thumbnail slot="start">
						<img [src]="product.image">
					</ion-thumbnail>
					<ion-label>
						<h2>{{ product.name }}</h2>
						<h3>REF: {{ product.reference }}</h3>
					</ion-label>
				</ion-item>
			</ng-container>

		</ng-container>

	</ion-list>

</ion-content>

<app-footer></app-footer>