<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons routerLink="/brands"  slot="start">
			<ion-button>
				<img class="icon-svg" src="./assets/images/home.svg">
			</ion-button>
		</ion-buttons>
		<ion-title *ngIf="brand">{{brand.name}}</ion-title>			
		<ion-buttons slot="end">
			<ion-button (click)="logout()"> 
				<img class="icon-svg" src="./assets/images/user_logout.svg">
			</ion-button>
		</ion-buttons>		
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner-section" *ngIf="brand">
		<div class="banner">
			<img [src]="brand.banner" alt="">
		</div>
		<div class="content-banner">
			<ion-grid>
				<ion-row align-items-center>
					<ion-col size="4">
						<div class="logo">
							<img [src]="brand.logo" alt="">	
						</div>
					</ion-col>
					<ion-col size="8">
						<div class="title">
							<h2>{{brand.name}}</h2>
							<h3>{{brand.brand_category_id.name}}</h3>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>

	<!--<div class="filters">
		<ion-grid>
			<ion-row >
				<ion-col size="7">
					<div class="content-input icon-input">
	    				<ion-input placeholder="Buscar Marca"></ion-input>	
	    				<img src="assets/images/buscar.svg" alt="">
	    			</div>
				</ion-col>
				<ion-col>
					<div class="content-input">
						<ion-select placeholder="Categorias" multiple="true" interface="popover">
							<ion-select-option value="f">Female</ion-select-option>
							<ion-select-option value="m">Male</ion-select-option>
						</ion-select>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>-->

	<div class="list-products">
		<ion-grid>
			<ion-row>
				<ion-col size-lg="2" size-md="3" size="6" *ngFor="let product of productos">
					<div class="product" routerLink="/product/{{product.id}}">
						<figure><img [src]="product.image"></figure>
						<strong>{{ product.name }}</strong>
						<small>{{ product.reference }}</small>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

</ion-content>

<app-footer></app-footer>
