{% extends "layout/base.html" %}
{% block content %}
	
	<nav class="actions-bar grid-x">
		<div class="cell small-12 medium-6">
			<div class="title-actions-bar">Imagenes de detalle - {{ detail_image.name }}</div>
		</div>
		<div class="cell small-12 medium-6 actions-buttons">
			<a class="button hollow small" href="{% url 'punto_detail_imagen_new' pk_product=product pk_image_product=image_product pk_mark=mark %}">Crear imagen de detalle</a>
		</div>
	</nav>

	{% if images_list %}
	<ul class="list-data">
		{% for image_detail in images_list %}
		<li class="grid-x">
			
			<div class="cell small-8 medium-8">
				<figure>
					<img src="/media/{{ image_detail.image_check }}" alt="">
				</figure>
				<div class="info-row">
					<h3>{{ image_detail.name }}</h3>		
					<span><strong>{{ image_detail.get_type_image_display }}</strong></span> - 
					<span>{{ image_detail.description }}</span> 
				</div>	
			</div>
			<div class="cell auto content-buttons">
				<div class="small button-group">
					<a href="{% url 'punto_detail_imagen_detail' pk_product=product pk_image_product=image_product  pk_mark=mark pk=image_detail.pk%}" class="button">Editar</a>
					<a href="{% url 'punto_detail_imagen_delete' pk_product=product pk_image_product=image_product  pk_mark=mark pk=image_detail.pk %}" class="button alert">Eliminar</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}