<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="3">
				<div class="logo">
					<img src="./assets/images/marca.png" alt="">	
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="title">
					<h2>Camiseta de millonarios</h2>
					<h3>1234-123-123-</h3>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt eos error maxime harum cum cupiditate, asperiores similique magnam adipisci, quaerat enim excepturi sint quasi dolorem quae, neque repudiandae voluptatibus voluptate.</p>
			</ion-col>
		</ion-row>

	</ion-grid>

	<div class="content-image">
		<img src="./assets/images/check.png" alt="">
	</div>
	<div class="content-image">
		<img src="./assets/images/fail.png" alt="">
	</div>
</ion-content>

<ion-footer >
	<ion-toolbar>
		<ion-tabs >
			<ion-tab-bar slot="bottom" color="primary">
				<ion-tab-button >
					<ion-icon name="arrow-round-back"></ion-icon>
				</ion-tab-button>
				<ion-tab-button >
					<ion-icon name="camera"></ion-icon>
				</ion-tab-button>
				<ion-tab-button >
					<ion-icon name="chatbubbles"></ion-icon>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>
