<ion-content *ngIf="loadModule">
	<ion-grid>
		<ion-row>
			<ion-col size="3">
				<div class="logo">
					<img [src]="product.brand.logo" alt="">	
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="title">
					<h2>{{ product.name }}</h2>
					<h3>{{ product.reference }}</h3>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="description">{{ description }}</p>
			</ion-col>
		</ion-row>

	</ion-grid>

	<div class="content-image">
		<ion-slides pager="true" [options]="slideOpts" #slideCheck>
			<ion-slide *ngFor="let slide of detail_images">
				<div class="image-content">
					<div class="image-content-section" *ngIf="slide.image_check">
						<img class="icon-svg" src="./assets/images/check.svg">
						<img [src]="slide.image_check">
					</div>
					<div class="image-content-section" *ngIf="slide.image_fail">
						<img class="icon-svg" src="./assets/images/fail.svg">
						<img [src]="slide.image_fail">
					</div>	
				</div>
				
			</ion-slide>
		</ion-slides>
		
	</div>
</ion-content>

<app-footer></app-footer>
