<ion-content *ngIf="loadModule">
	<ion-grid>
		<ion-row>
			<ion-col size="3">
				<div class="logo">
					<img [src]="product.brand.logo" alt="">	
				</div>
			</ion-col>
			<ion-col size="9">
				<div class="title">
					<h2>{{ product.name }}</h2>
					<h3>{{ product.reference }}</h3>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="description">{{ description }}</p>
			</ion-col>
		</ion-row>

	</ion-grid>

	<div class="content-image">
		<ion-slides pager="true" [options]="slideOpts" #slideCheck>
			<ion-slide *ngFor="let slide of images_check">
				<div class="image-content">
					<img [src]="slide.image_check">
				</div>
			</ion-slide>
		</ion-slides>
		
	</div>
	<div class="content-image">
		<ion-slides pager="true" [options]="slideOpts" #slideFail>
			<ion-slide *ngFor="let slide of images_fail">
				<div class="image-content">
					<img [src]="slide.image_check">
				</div>
			</ion-slide>
		</ion-slides>
	</div>
</ion-content>

<ion-footer >
	<ion-toolbar>
		<ion-tabs >
			<ion-tab-bar slot="bottom" color="primary">
				<ion-tab-button >
					<ion-icon name="arrow-round-back"></ion-icon>
				</ion-tab-button>
				<ion-tab-button >
					<ion-icon name="camera"></ion-icon>
				</ion-tab-button>
				<ion-tab-button >
					<ion-icon name="chatbubbles"></ion-icon>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>
