<ion-header>
	<ion-toolbar color="primary">
		<ion-grid>
			<ion-row align-items-center>
				<ion-col size="2">
					<ion-buttons routerLink="/brands">
						<ion-button>
							<img class="icon-svg" src="./assets/images/back.svg">
						</ion-button>
					</ion-buttons>
				</ion-col>
				<ion-col size="8">
					<ion-title>CHAT</ion-title>			
				</ion-col>
				<ion-col size="2">
					
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-header>

<ion-content #chatview>
	
	<ion-grid>
    
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="9"  [ngClass]="message.isAdmin ? 'other-message' : 'my-message'" class="message" [attr.offset] = "message.isAdmin ? '' : 3">
      	
      	<div [ngSwitch]="message.type">
      		<span *ngSwitchCase="'String'">{{ message.message }}</span>	
      		<img *ngSwitchCase="'Image'" [src]="message.message"/>
      	</div>
        
        <div class="time" text-right>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>
	
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="8">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" class="msg-btn"
          (click)="filechooser.click()">
          <ion-icon name="ios-camera" slot="icon-only"></ion-icon>
          <input type="file" #filechooser capture="camera" hidden (change)="sendImageMessage(filechooser)"/>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
