<ion-footer >
	<ion-toolbar>
		<ion-tabs >
			<ion-tab-bar slot="bottom" color="primary">
				<ion-tab-button (click)="goBack()" routerDirection="backward">
					<img class="icon-svg" src="./assets/images/back.svg" alt="">
					<span>volver</span>
				</ion-tab-button>

				<!-- <ion-tab-button (click)="filechooser.click()">
					<img class="icon-svg" src="./assets/images/send_photo.svg" alt="">
					<input type="file" #filechooser capture="camera" hidden (change)="sendImageMessage(filechooser)"/>
					<span>enviar fotos</span>
				</ion-tab-button> -->
				
				<ion-tab-button routerLink="/chat">
					<img class="icon-svg" src="./assets/images/chat.svg" alt="">
					<span>chat</span>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ion-toolbar>
</ion-footer>