{% extends "layout/base.html" %}
{% block content %}
	
	<nav class="actions-bar grid-x">
		<div class="cell small-12 medium-6">
			<div class="title-actions-bar">Marcas</div>
		</div>
		<div class="cell small-12 medium-6 actions-buttons">
			<a class="button hollow small" href="{% url 'brands:new' %}">Crear marca</a>
		</div>
	</nav>

	{% if brand_list %}
	<ul class="list-data">
		{% for brand in brand_list %}
		<li class="grid-x">
			
			<div class="cell small-8 medium-8">
				<figure>
					<img src="/media/{{ brand.logo }}" alt="">
				</figure>
				<div class="info-row">
					<h3>{{ brand.name }}</h3>		
					<span>{{ brand.category.name }}</span> 
					<span><strong>Productos:</strong> {{ brand.product_set.all|length }}</span>
				</div>	
			</div>
			<div class="cell auto content-buttons">
				<div class="small button-group">
					<a href="{% url 'products_by_brand' pk=brand.pk  %}" class="button">Ver productos</a>
					<a href="{% url 'brand_edit' pk=brand.pk %}" class="button">Editar</a>
				  	<a href="{% url 'brand_delete' pk=brand.pk %}" class="button alert">Eliminar</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}