.content-login{
	width: 100%;
	max-width: 320px;
	padding: 1rem 3rem;
	position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 45%);
}

.image-logo{
	max-width: 70%;
    margin: 0 auto 2rem;
    display: block;
}

.icon-svg{
	height: 16px;
    position: absolute;
    right: 18px;
}

.last-ion-item{
	margin-bottom: 3rem;
}

ion-button{
	position: relative;
	height: 50px;
	font-weight: bold;
}

ion-button ion-icon{
	position: absolute;
	right: 1rem;
}