{% extends "layout/base.html" %}


{% block content %}


<div class="grid-x grid-padding-x">
	<div class="cell small-12 {% if is_edit %} medium-6 {% endif %}">
		<form  method="POST" enctype="multipart/form-data">
			<h2>
				{% if is_edit %}
					Editar Imagen de Producto
				{% else %}
					Crear Imagen de Producto
				{% endif %}
			</h2>
			{% csrf_token %}
			{{ form.as_p }}
			
			<div class="grid-x">
				<div class="cell small-12 medium-6">
					<a href="{% url 'products:detail' pk=product %}" class="button expanded alert">REGRESAR</a>
				</div>
				<div class="cell small-12 medium-6">
					<input type="submit" class="button expanded" value="GUARDAR">
				</div>
			</div>
		</form>
	</div>
	{% if is_edit %}
	<div class="cell small-12 medium-6 no-title-section">
		<a href="{% url 'punto_imagen_new' pk_product=1 pk_image_product=image_product.pk  %}" class="button expanded">AGREGAR PUNTO HOTSPOT</a>
		
		<ul class="list-data internal-list">
			{% for mark in marks %}
				<li class="grid-x">
			
					<div class="cell small-6 medium-6">
						<div class="info-row">
							<span class="only-text-center">{{ mark.name }}</span>
						</div>	
					</div>
					<div class="cell auto content-buttons">
						<div class="small button-group only-button-center">
						  <a href="{% url 'punto_detail_imagen' pk_product=product pk_image_product=image_product.pk  pk_mark=mark.pk%}" class="button tiny">Agregar imagen</a>
						  <a href="{% url 'punto_imagen_detail' pk_product=product pk_image_product=image_product.pk  pk=mark.pk%}" class="button tiny">Editar</a>
						  <a href="{% url 'punto_imagen_delete' pk_product=product pk_image_product=image_product.pk  pk=mark.pk %}" class="button alert tiny">Eliminar</a>
						</div>
					</div>
				</li>
			{% endfor %}	
		</ul>
		
	</div>
	{% endif %}
</div>


{% endblock %}
