.window_chat{
	font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-areas: "sidebar" "viewchat";
	grid-template-columns: repeat(12, [col-start] 1fr);
}

.window_chat .side_chat{
	grid-area: sidebar;
	grid-column: col-start / span 3;
	grid-row: 1;

	border-right: 1px solid #add4f5;
    height: calc(100vh - 270px);
    padding: 0 0.4rem;
}

.window_chat .view_chat{
	grid-area: viewchat;
	grid-column: col-start 4/ span 12;
	grid-row: 1;

	

}

.header-chat{
	padding: 1rem 0.4rem 0.3rem;
}

.header-chat h1{
	font-size: 1.4rem;
 	font-family: 'Raleway', sans-serif;   
}

.header-chat ul{
	margin: 0;
    list-style: none;
    width: 100%;
    font-size: 0.8rem;
}

.header-chat ul li{
	width: 50%;
	display: inline-block;
}

.side-chat{
	overflow: auto;
    height: calc(100% - 110px);
}

.side-chat ul.chat-vacio{
	text-align: center;
    font-size: 0.8rem;
}

.side-chat ul{
	list-style: none;
	margin: 0;
}

.side-chat ul li{
	border-bottom: 1px solid #cfe6f9;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
}

.side-chat ul li.open-chat{
	background: #dbe9f5;
	border: none;
	border-radius: 4px;
}



.side-chat ul li label{
	font-weight: bold;
}

.side-chat ul li p{
	font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.side-chat ul li time{
	font-size: 0.7rem;
	text-align: right;
	display: block;
	font-style: italic;
	font-weight: 100;
}

.box-user{
	padding: 1rem 0.8rem;
	border-bottom: 1px solid #add5f5;
	
}

.box-chat{
	height: calc(100vh - 390px);
    overflow: auto;
    padding: 0.8rem;
}

.box-chat.readonly-chat{
    height: calc(100vh - 347px);
}
.box-message{
	padding: 0.5rem 0.8rem;
    width: 50%;
    border-radius: 10px;
    background: #edf6fd;
    color: #333;
    clear: both;
    margin-bottom: 1rem;
    border: 1px solid #0081ed2e;
}

.box-message.me{
	background: #0081ed;
	color: white;
	float: right;
}

.box-message p{
	font-size: 0.9rem;
	line-height: 1.2;
	word-break: break-word;
}


.box-message time{
	display: inline-block;
    font-size: 80%;
    text-align: right;
    width: 90%;
    vertical-align: middle;
}

.button-send{
	width: 10%;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
}

.form-box{
	padding: 0.8rem;
}

.form-box .button{
	margin-bottom: 0 !important;
}

.form-box .message-input{
	border-color: #edf6fd;
    background: #edf6fd;
    margin-bottom: 0 !important;
    height: 40px;
}

.forwardModal{
	position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
}

.forwardModal ul{
	position: absolute;
    max-height: 90%;
    width: 300px;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    background: white;
	
	list-style: none;
	border-bottom: none;
	margin: 0;
	padding: 1rem;


}

.forwardModal h3{
	font-size: 1.2rem;
}

.forwardModal li{
	padding: 0.5rem 0.8rem;
	border: 1px solid #add5f5;;
	transition: all 0.28s ease-in-out;
	cursor: pointer;

}

.forwardModal li:hover{
	background: #0081ed;
	color: white
}