{% load static %}
	<script src="{% static 'backend/js/vendor/what-input.js' %}"></script>
	<script src="{% static 'backend/js/moment.js' %}"></script>
	<script src="{% static 'backend/js/vendor/jquery.js' %}"></script>
	<script src="{% static 'backend/js/vendor/foundation.min.js' %}"></script>
	<script src="{% static 'backend/js/app.js' %}"></script>
	<script src="{% static 'backend/js/chat.js' %}"></script>
	
	<script type="text/babel" src="{% static 'backend/react/chat_window/header_chat.js' %}"></script>
	<script type="text/babel" src="{% static 'backend/react/chat_window/side_chat.js' %}"></script>
	<script type="text/babel" src="{% static 'backend/react/chat_window/box-messages.js' %}"></script>
	<script type="text/babel" src="{% static 'backend/react/chat_window/message.js' %}"></script>
	<script type="text/babel" src="{% static 'backend/react/chat_window/form_chat.js' %}"></script>
	<script type="text/babel" src="{% static 'backend/react/chat_window/index.js' %}"></script>
</body>
</html>