{% load static %}
<div class="header-aside">
	<figure>
		{% if user.brand %}
			<img src="{{ user.brand.logo }}">
		{% else %}
          <img src="/media/{{ user.image }}">
		{% endif %}
	</figure>
	<h3>{{ user.get_full_name  }}</h3>
	
	{% if user.brand %}
		<div class="organitation">{{ user.brand.name }}</div>
	{% else %}
		<div class="organitation">Staff</div>
	{% endif %}
	
	<div class="role">
		{% for group in user.groups.all  %}
		{{ group }} 
		{% endfor %}
	</div>
</div>

<div class="section-aside">
	<nav>
		<ul>
			<li><a href="{% url 'marcas' %}"><i class="fas fa-user-tie"></i>Marcas</a></li>
			<li><a href="{% url 'operativos' %}">
				<i class="fas fa-binoculars"></i>Operativos</a>
				<div class="chat-notification"><i class="fas fa-bell"></i><span class="badge alert">1</span></div>
			</li>
      		<li><a href="{% url 'herramientas' %}"><i class="fas fa-tools"></i>Herramientas</a></li>
      		<li><a href="{% url 'informes' %}"><i class="fab fa-algolia"></i>Informes</a></li>
      		<!--<li><a href="{% url 'list_usuarios' %}"><i class="fas fa-id-card"></i>Usuarios y Grupos</a></li>-->
		</ul>
	</nav>
</div>

<div class="footer-aside">

</div>

