{% load static %}
<div class="header-aside">
	<figure>
		{% if user.brand %}
			<img src="{{ user.brand.logo }}">
		{% else %}
          <img src="/media/{{ user.image }}">
		{% endif %}
	</figure>
	<h3>{{ user.get_full_name  }}</h3>
	
	{% if user.brand %}
		<div class="organitation">{{ user.brand.name }}</div>
	{% else %}
		<div class="organitation">Staff</div>
	{% endif %}
	
	<div class="role">
		{% for group in user.groups.all  %}
		{{ group }} 
		{% endfor %}
	</div>
</div>

<div class="section-aside">
	<nav>
		<ul>
			<li><a href="{% url 'marcas' %}"><i></i>Marcas</a></li>
      		<li><a href="{% url 'productos' %}"><i></i>Productos</a></li>
      		<li><a href="{% url 'herramientas' %}"><i></i>Herramientas</a></li>
      		<li><a href="{% url 'list_usuarios' %}"><i></i>Usuarios y Grupos</a></li>
		</ul>
	</nav>
</div>

<div class="footer-aside">

</div>

