{% load static %}
<div class="title-bar">
  <div class="title-bar-left">
    <button class="menu-button" type="button" data-open="offCanvasLeft"><span></span></button>
  </div>

  <div class="title-bar-right">
    <div class="login-side" data-toggle="dropdown-pane">
      <div class="user-data">
        <strong>{{ user.get_full_name  }}</strong>
        <div class="organitation">{{ request.session.brand_name }}</div>
      </div>
      <figure><img src="{{ request.session.brand_logo }}"></figure>
    </div>
    <div class="dropdown-pane dropdown-user" id="dropdown-pane" data-dropdown data-position="bottom" data-alignment="right" data-hover="true" data-hover-pane="true">
      <ul>
        <li><a href="">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>