{% extends "layout/base.html" %}


{% block content %}


<div class="grid-x grid-padding-x">
	<div class="cell small-12 {% if is_edit %} medium-6 {% endif %}">
		<form  method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="media-object-section middle">

				<h2>
					{% if is_edit %}
					Editar Producto {{form.name.value}}
					<div class="thumbnail thumbnail-product">
						<figure>
							<img src="/media/{{ form.image.value }}" alt="" >
						</figure>
					</div>
					{% else %}
					Crear Producto
					{% endif %}
				</h2>
			</div>
				
				{{ form.as_p }}
				
			<div class="grid-x">
				<div class="cell small-12 medium-6">
					<a href="{% url 'products_by_brand' pk=brand%}" class="button expanded alert">REGRESAR</a>
				</div>
				<div class="cell small-12 medium-6">
					<input type="submit" class="button expanded" value="GUARDAR">
				</div>
			</div>
		</form>
	</div>
	{% if is_edit %}
	<div class="cell small-12 medium-6 no-title-section">
		<a href="{% url 'image_producto_new' product.pk %}" class="button expanded">AGREGAR IMAGEN DE PRODUCTO</a>
		
		<ul class="list-data internal-list">
			{% for image in images %}
				<li class="grid-x">
			
					<div class="cell small-8 medium-8">
						<figure>
							<img src="/media/{{ image.image }}" alt="">
						</figure>
						<div class="info-row">
							<span>{{ image.name }}</span>		
							
						</div>	
					</div>
					<div class="cell auto content-buttons">
						<div class="small button-group">
						  <a href="{% url 'image_producto_detail' pk=product.pk pk_image_product=image.pk %}" class="button tiny">Editar</a>
						  <a href="{% url 'image_producto_delete' pk=product.pk pk_image_product=image.pk %}" class="button alert tiny">Eliminar</a>
						</div>
					</div>
				</li>
			{% endfor %}	
		</ul>
		
	</div>
	{% endif %}
</div>


{% endblock %}
