{% extends "layout/base.html" %}


{% block content %}
<div class="title-internal">
	<h2>Eliminar marca</h2>
	<h5>¿Desea borrar el producto: "{{ product }}"?</h5>
</div>

<div class="grid-x content-delete">
	<div class="cell small-12 medium-6">
		<a href="{% url 'products_by_brand' pk=brand%}" class="button expanded alert">REGRESAR</a>
	</div>
	<div class="cell small-12 medium-6">
		<form method="POST">
			{% csrf_token %}
			{{ form }}
			<button type="submit" class="button expanded ">ELIMINAR</button>	
		</form>
		
	</div>
</div>

{% endblock %}
