.modal-image{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #272727;

    .close{
        color: white;
        font-size: 4rem;
        position: absolute;
        right: 20px;
        z-index: 2;
    }

    img{
        height: 100%;
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 100%;
        object-fit: contain;
    }
}