body{
	background: #edf6fd;
	overflow: hidden;
}

*{
	font-family: 'Raleway', sans-serif;
}

h1, h2{
	font-family: 'Literata', serif;
	font-weight: bold;
}

h3, h4, h5, h6{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	line-height: 1.2;
}

.button{
	font-weight: bold;
	text-transform: uppercase;
}


.wrapp-app{
	display: flex;
}

.main-page{
	display: flex;
}

.main-page .section-content{
	width: 100%;
	padding: 1rem;
	overflow: auto;
    height: calc(100vh - 68px);
}

aside{
	width: 320px;
	background: #0274d5;
	height: 100vh;
	padding-top: 4rem;
}

.right-sidebar{
	width: 600px;
	background: white;
	height: 100vh;
	padding: 4rem 2rem 1rem;
}

.header-aside{
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}

.header-aside figure{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 1rem;
}

.header-aside h3{
	font-size: 1rem;
	margin: 0;

}

.header-aside .organitation{
	font-weight: 300;
}

.header-aside .role{
	border-radius: 30px;
	border: 1px solid;
	padding: 0.2rem 1rem;
	display: inline-block;
	font-size: 0.8rem;
	margin: 0.5rem auto;

}
.section-aside{
}

.section-aside nav ul{
	margin: 0;
	list-style: none;
	color: white;
}

.section-aside nav ul li{
}

.section-aside nav ul li a{
	color: white;
	display: block;
	width: 100%;
	padding: 0.8rem 2rem;
	position: relative;
	padding-left: 5rem;
	transition: all 0.28s ease-in-out;
}

.section-aside nav ul li a:hover, .section-aside nav ul li a.active-link{
	background: #0081ed;
	color: white;
	border-left: 5px solid white;
}

.section-aside nav ul li i{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: sub;
	position: absolute;
	left: 2rem;
	font-size: 1.5rem;
}

.content-section{
	/*width: calc(100% - 320px);*/
}

.title-bar{
	background: #0081ed;
    padding: 0 1rem;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 68px;
}

.position-left{
	width: 320px;
	-webkit-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    transform: translateX(-320px);
}

.position-right{
	width: 600px;
	-webkit-transform: translateX(600px);
    -ms-transform: translateX(600px);
    transform: translateX(600px);
}

.menu-button{
	position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 1rem;
    cursor: pointer;
}

.menu-button span, .menu-button:before, .menu-button:after{
	content: '';
	left: 0;
	height: 3px;
	width: 100%;
	position: absolute;
	background: white;
	transition: all 0.28s ease-out;
}

.menu-button:before{
	top: 2px;
}

.menu-button:after{
	bottom: 2px

}

.menu-button span{
	width: 80%;
    transform: translateY(50%);
    bottom: 50%;
}

.menu-button:hover span{
	width: 100%;
}

.menu-button:hover:before, .menu-button:hover:after{
	width: 80%;
}

.menu-sidebar{
	height: 100vh;
    background: white;
    width: 60px;
    padding-top: 1rem;
}

.menu-sidebar ul{
	list-style: none;
	margin: 0;
}

.menu-sidebar ul a{
	transition: all 0.28s ease-out;
}

.menu-sidebar ul a span{
	position: absolute;
    top: 0;
    white-space: nowrap;
    transform: translate(100%, 30%);
    bottom: 50%;
    line-height: 1;
    background: white;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 10px;
    height: 2.5rem;
    padding-top: 13px;
    display: none;
    min-width: 150px;
    padding-left: 20px;
    right: -20%;
}

.menu-sidebar ul a{
	display: block;
	padding: 1rem;
	position: relative;
}

.menu-sidebar ul a i {
	display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
}

.menu-sidebar ul a:hover{
	background: #0081ed;
	color: white;
}

.menu-sidebar ul a:hover span{
	color: #1779ba;
}

    
.menu-sidebar ul a:hover span{
	display: block;
}

.login-side{
	height: 100%;
    padding-top: 1.2rem;
}

.login-side figure{
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	display: inline-block;
}
.login-side figure img{
	width: 30px;
}

.login-side .user-data{
	display: inline-block;
    line-height: 1;
    text-align: right;
    padding-right: 0.5rem;
}

.title-bar-right{
	max-width: 320px;
	height: 100%;
}


.dropdown-user{
	background: #0081ed;
	display: none;
	border: none;
	border-radius: 0;
	padding: 0;
	width: 200px;
}


.dropdown-user ul{
	list-style: none;
	text-align: left;
	margin: 0;
}

.dropdown-user ul li{
}

.dropdown-user ul a{
	color: white;
	display: block;
	padding: 1rem;
	transition: all 0.28s ease-out;
}

.dropdown-user ul a:hover{
	background: #0274d5;
}

.list-data.internal-list{
	max-height: 68vh;
	overflow: auto;
}

.list-data{
	margin: 0;
}

.list-data li{
	margin-bottom: 0.2rem;
	background-color: white;
	padding-right: 1rem;


}

.list-data li figure{
	width: 70px;
	height: 70px;
	display: inline-block;
}

.list-data .info-row{
	display: inline-block;
	vertical-align: middle;
	padding-left: 1rem; 
}



.list-data li h3{
	font-size: 1.2rem;
	margin: 0;
	line-height: 0.8;
}

.list-data li span{
	font-size: 0.8rem;
	font-weight: 300;
}

.list-data li .content-buttons{
	text-align: right;
}

.list-data li .button-group{
	margin: 1rem 0 0;
	display: inline-block;
}

.list-data li .button-group .button.tiny{
	font-size: 0.6rem;
}


.list-data.single-list li{
	padding: 1rem;
}

.list-data.single-list li .button-group{
	margin: 0;
}

.internal-view{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	top: 0;
	left: 0;
}


.internal-view .content-internal-view{
	position: absolute;
	max-width: 80vw;
	width: 100%;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
}

.actions-bar{
	padding:  1rem 1rem;
	background: white;
	margin-bottom: 1rem;
}

.actions-bar .actions-buttons{
	text-align: right;
}

.actions-bar .button{
	margin-bottom: 0;
}

.actions-bar .title-actions-bar{
	font-size: 1.3rem;
	font-weight: bold;
	padding-top: 3px;
}

.title-internal{
	text-align: center;
	margin-bottom: 2rem;
}

.no-title-section{
	padding-top: 5.4rem;
}

form, .content-delete{
	max-width: 50vw;
	margin: 0 auto;
}

form *{
	box-shadow: none !important;

}

form > p{
	margin-bottom: 0;
}

form input, form select{
	margin-bottom: 0.5rem !important;
}

form textarea{
	resize: none;
	max-height: 100px;
}

form .input-file{
	font-size: 0;
	display: flex;
}

form .input-file label{
	background-color: #333;
	color: white;
	font-size: 0.9rem;
	padding: 0.5rem;
	height: 45px;
	flex-grow: 1;
	white-space: nowrap;

}

form .input-file a{
	font-size: 0.9rem;
	padding: 0.5rem;
	border: 1px solid #cacaca;
	height: 45px;
	flex-grow: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

}

form .input-file input{
	display: none;
}

.select-point{
	width: 360px;
	height: 360px;
	background: #333;
	overflow: hidden;
	position: relative;
}

.select-point img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.select-point #layer-marker{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.select-point #pointer-marker{
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: 2px solid orange;
}

.select-point #pointer-marker:before{
	content: '';
	width: 50%;
	height: 50%;
	border-radius: 50%;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	border: 4px solid orange;

}

.menu-buttons{
	list-style: none;
	font-size: 0;
	margin: 0;
}

.menu-buttons li{
	display: inline-block;
	width: 33.33%;
	padding: 0 0.5rem;
}

.menu-buttons li a{
	display: block;
	background-color: #0081ed;
	color: white;
	font-size: 1rem;
	padding: 1rem;
	transition: all 0.28s ease-out;
}

.menu-buttons li a:hover{
	background-color: #0274d5;
	border-right: 1rem solid #0081ed;


}

.login-box{
	background: white;
    max-width: 500px;
    padding: 2rem;
    position: absolute;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
    width: 100%;
}


.login-box .alert{
	background: #f75e5e;
    color: white;
}

.helptext{
	font-size: 0.8rem;
    margin-top: -7px;
    display: block;
    margin-bottom: 0.5rem;
    color: #8d8d8d;
    line-height: 1.2;
}

.check-row label{
	display: inline-block;
	margin-bottom: 0.5rem;
}
