{% csrf_token %}
<nav class="actions-bar grid-x">
	<div class="cell small-12 medium-6">
		<div class="title-actions-bar">Chat de operativo</div>
	</div>
</nav>

<div class="content-view-chat">
	
	<div class="view-chat chat-operativo">
		
	</div>

	<form class="chat-form chat-operativo">
		<input type="hidden" value="{{ operativo.token_chat }}" id="token_chat">
		<input type="hidden" value="{{ operativo.token }}" id="token">
		<input type="hidden" value="{{ ip_client }}" id="ip_client">

			<div class="grid-x">
				<div class="cell small-12 medium-8">
					<input type="text" name="message" id="message">		
				</div>
				<div class="cell small-12 medium-2">
					<input type="submit" value="enviar" class="button expanded">
				</div>
				<div class="cell small-12 medium-2">
					<label class="button expanded alert">
						imagen	
						<input type="file" hidden id="filechooser">
					</label>
				</div>
			</div>
		</form>	
	</div>

