{% block content %}

	<nav class="actions-bar grid-x">
		<div class="cell small-12 medium-6">
			<div class="title-actions-bar">Chat de cliente </div>
		</div>
	</nav>

	<div class="content-view-chat">
		
		<div class="view-chat chat-marca">
			
		</div>

		<form class="chat-form chat-marca">
			<input type="hidden" value="{{ operativo.token }}" id="token_chat_marca">
			<input type="hidden" value="{{ ip_client }}" id="ip_client">

			<div class="grid-x">
				<div class="cell small-12 medium-8">
					<input type="text" name="message" id="message">	
					{% if is_brand%}
						<input type="hidden" name="is_brand" id="is_brand">		
					{% endif  %}
				</div>
				<div class="cell small-12 medium-2">
					<input type="submit" value="enviar" class="button expanded">
				</div>
				<div class="cell small-12 medium-2">
					<label class="button expanded alert">
						imagen	
						<input type="file" hidden class="filechooser" id="filechooser">
					</label>
					
					
				</div>
			</div>
			
			
		</form>	
	</div>

{% endblock %}