{% extends "layout/base.html" %}


{% block content %}


<form  method="POST">
	<h2>
		{% if is_edit %}
			Editar usuario
		{% else %}
			Nuevo operativo
		{% endif %}
		
	</h2>
	{% csrf_token %}
	
	<div class="grid-x">
		<div class="cell small-12 medium-6">
			{{ form.as_p }}
		</div>
		<div class="cell small-12 medium-6">
			<ul class="list-check">

				{% for brand in brands %}
					<li >
					<input class="parent-select" name="brands[]" type="checkbox" value="{{brand.id}}"> {{ brand.name }}
						<ul>
						{% for product in brand.product_set.all %}
							<li>
							<input name="products[]" type="checkbox" value="{{product.id}}"> {{ product.name }}
							</li>
						{%  endfor%}
						</ul>
					</li>
				{% endfor %}
			</ul>
			
		</div>
	</div>

	
	
	
	<br>
	<div class="grid-x">
		<div class="cell small-12 medium-6">
			<a href="{% url 'list_usuarios' %}" class="button expanded alert">REGRESAR</a>
		</div>
		<div class="cell small-12 medium-6">
			<input type="submit" class="button expanded" value="GUARDAR">
		</div>
	</div>
	
	
</form>
{% endblock %}
