{% extends "layout/base.html" %}


{% block content %}
<div class="title-internal">
	<h2>Terminar operativo</h2>
	<h5>¿Desea terminar este operativo?</h5>
</div>

<form method="POST">
	{% csrf_token %}
	<div class="grid-x">

		<div class="cell small-12 medium-12">
			{{ form.as_p | safe}}
			{{ form.media}}
		</div>
		<div class="cell small-12 medium-6">
			<a href="{% url 'operativos' %}" class="button expanded alert">REGRESAR</a>
		</div>
		<div class="cell small-12 medium-6">
			<button type="submit" class="button expanded ">TERMINAR</button>
		</div>

	</div>
</form>

{% endblock %}