{% extends "layout/base.html" %}
{% block content %}
	
	<nav class="actions-bar grid-x">
		<div class="cell small-12 medium-6">
			<div class="title-actions-bar">Operativos</div>
		</div>
		<div class="cell small-12 medium-6 actions-buttons">
			
		</div>
	</nav>

	{% if operativos %}
	<table>
		<thead>
			<th>Operativo</th>
			<th>Fecha de creación</th>
			<th>Fecha de Activación</th>
			<th>Fecha de Cierre</th>
			<th>Marcas</th>
			<th>Productos</th>
			<th>Persona encargada</th>
			<th></th>
		</thead>

		<tbody>
			{% for operativo in operativos %}
				<tr>
					<td>{{ operativo.name }}</td>
					
					<td>{{ operativo.created_at |date:"M d, Y" }}</td>
					<td>{{ operativo.activation |date:"M d, Y"}}</td>
					<td>{{ operativo.expiration |date:"M d, Y"}}</td>
					<td>{{ operativo.brands }}</td>
					<td>{{ operativo.products }}</td>
					<td>{{ operativo.user.first_name }} {{ operativo.user.last_name }}</td>
					
					<td><a href="{% url 'chat_informe' pk=operativo.pk %}" class="button tiny success expanded">Chat</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
{% endblock %}