{% extends "layout/base.html" %}


{% block content %}


<form  method="POST" enctype="multipart/form-data">
	<h2>
		{% if is_edit %}
			Editar Categoría
		{% else %}
			Crear Categoría para productos
		{% endif %}
		
	</h2>
	{% csrf_token %}
	{{ form.as_p }}
	
	<div class="grid-x">
		<div class="cell small-12 medium-6">
			<a href="{% url 'products:categories' %}" class="button expanded alert">REGRESAR</a>
		</div>
		<div class="cell small-12 medium-6">
			<input type="submit" class="button expanded" value="GUARDAR">
		</div>
	</div>
	
	
</form>
{% endblock %}
